* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f6f8fb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #2563eb;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  color: #374151;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.icon {
  background: #f3f4f6;
  padding: 8px;
  border-radius: 50%;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  padding: 30px;
  background: white;
  border-radius: 12px;
}

.hero-buttons {
  margin-top: 20px;
}

.primary {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}

.secondary {
  background: white;
  color: #2563eb;
  border: 1px solid #2563eb;
  padding: 10px 15px;
  border-radius: 8px;
  margin-left: 10px;
}

.hero-image {
  width: 320px;
  height: 160px;
  border-radius: 12px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
  margin: 0 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
}

.green-text {
  color: green;
}

/* CONTENT */
.content {
  display: flex;
  gap: 20px;
  margin: 30px;
}

.reports, .map {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.reports {
  flex: 2;
}

.map {
  flex: 1;
}

.report {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.blue { background: #dbeafe; color: #2563eb; }
.orange { background: #ffedd5; color: #ea580c; }
.green { background: #dcfce7; color: #16a34a; }

/* MAP */
.map-box {
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  background: #e5f0ff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: gray;
}
